<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Willhaben Fake</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="loginContainer">
                <div class="login-register-container">
                    <a href="/login"><strong>Login</strong></a>
                    <span>|</span>
                    <a href="/register"><strong>Register</strong></a>
                </div>
                <a class="newAdButton" href="/post-ad">
                    <img class="plusSymbol" src="/images/icons8-plus-50.png" alt="">
                    <strong>Post new Ad</strong>
                </a>
            </div>
        </div>
    </header>
    <div class="search-container">
        <input id="searchField" type="text" placeholder="What are you looking for today?">
        <button id="searchBtn" type="submit"><img id="searchBtnImg" src="/images/—Pngtree—vector search icon_3783210.png" alt=""></button>
    </div>

    <div class="products-container">

    </div>

</body>
</html>