<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/js/messages.js"></script>
  <link rel="stylesheet" href="/css/messages.css">
  <title>Messages</title>
</head>
<body>

<div>
  <div class="header">

  </div>
  <h1>
    Nachrichten
  </h1>
  <div class="container">

    <div class="users">

    </div>
    <div class="chat-container">
      <div class="chat">

      </div>

      <div class="send-message-container">
        <input type="text" placeholder="Write your message" name="message-input" id="message-input" required>
        <button id="send-message-button">Send</button>
      </div>
    </div>

  </div>
</div>


</body>
</html>