<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Advertisement</title>
    <link rel="stylesheet" href="/css/post-ad.css">
    <script src="/js/post-ad.js"></script>
</head>
<body>
    <div class="marketplaceCont">
        <img src="images/items-icon.webp" alt="">
        <div class="">
            <h2>Marketplace</h2>
            <p>Einfach, schnell und kostenlos verkaufen - 45 Tage Laufzeit</p>
            <a class="newAdButton" href="/post-new-ad">
                <img class="plusSymbol" src="images/icons8-plus-50.png" alt="">
                <strong>Post new Ad for free</strong>
            </a>
        </div>
    </div>
</body>
</html>