<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/product-details.js"></script>
    <link rel="stylesheet" href="/css/product-details.css">
    <title>Title</title>
</head>
<body>
    <div class="container" >

        <div class="ad-container"><

            <div class="images-container">

                <div class="image-slides">

                </div>

                <div class="controls">
                    <button onclick="prevSlide()">Previous</button>
                    <button onclick="nextSlide()">Next</button>
                </div>

            </div>

            <div class="user-details">
                <div class="price-container">
                    <span>Price</span>
                    <br>
                </div>
                <div class="username-container">

                </div>
                <div class="message-container">

                </div>
            </div>


        </div>

        <div class="product-description">
            <h2>Description</h2>

        </div>

        <div class="message-container">
            <label for="message"></label>
            <input type="text" id="message" name="message" placeholder="Send a Message to the seller" required>
            <br>
            <button class="send-message" >Send Message</button>
        </div>

    </div>
</body>
</html>