<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <script type="module" src="/js/myProfile.js"></script>
    <link rel="stylesheet" href="/css/myProfile.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="loginContainer">
        <div class="login-register-container">

        </div>
    </div>

    <div class="myAdsContainer">

        <div class="myAdsHeader">
            <h2>
                My Ads
                <span class="adsCount">0</span>
            </h2>

        </div>

        <div class="myAds">

        </div>
    </div>

</body>
</html>