<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="/js/register.js"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form id="registrationForm">
        <div id="registerCont">
            <h2>Create an account</h2>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required><br>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required><br>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

            <button type="submit" id="registerBtn">Register</button>
        </div>

        <div id="loginCont">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>

    </form>
</body>
</html>